.heroSection {
  position: relative;
  text-align: center;
}

.heroImage {
  width: 100%;
  height: auto;
  display: block;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}
